.user-avatar {
    position: relative;
    border-radius: 50%;
    padding: 2px; /* 枠線の太さ */
    box-sizing: border-box;
  }
  
  .user-avatar.hosting-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    padding: 2px; /* 枠線の太さと合わせる */
    background: conic-gradient(from 0deg, #ff00ea, #ffdc00, #00c4ff, #ff00ea);
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    animation: rotate-gradient 4s linear infinite;
    z-index: -1;
  }
  
  @keyframes rotate-gradient {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }